In [71]:
import pandas as pd

In [72]:
# Read the data
df=pd.read_csv('daily_report_python (3).csv')

df

,Meeting ID,Topic,Start Time,End Time,User Email,Duration (Minutes),Participants,Unnamed: 7
0,94260712307,BTEC Fall Training,11/08/2022 08:57:15 AM,11/08/2022 11:11:34 AM,b.Jaber@ltuc.com,135,64,NaN
1,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Guest,Recording Consent,In Waiting Room
2,Boshra Jaber,b.jaber@ltuc.com,11/08/2022 08:57:15 AM,11/08/2022 09:41:03 AM,44,No,NaN,No
3,Mostafa Albelbeisi,20020480@student.ltuc.com,11/08/2022 08:57:34 AM,11/08/2022 11:11:34 AM,134,No,NaN,No
4,Mohannad Ghabashneh,22034356@student.ltuc.com,11/08/2022 08:57:35 AM,11/08/2022 11:11:34 AM,134,No,NaN,No
...,...,...,...,...,...,...,...,...
61,Tahani Ali,NaN,11/08/2022 10:42:45 AM,11/08/2022 10:44:21 AM,2,Yes,NaN,No
62,Tahani Ali,NaN,11/08/2022 10:46:22 AM,11/08/2022 11:11:34 AM,26,Yes,NaN,No
63,رزان عويضات,NaN,11/08/2022 09:36:33 AM,11/08/2022 09:37:59 AM,2,Yes,NaN,No
64,Tahani Ali,NaN,11/08/2022 10:44:22 AM,11/08/2022 10:45:39 AM,2,Yes,NaN,No
65,Walaa Atiyh,NaN,11/08/2022 11:01:33 AM,11/08/2022 11:11:34 AM,11,Yes,NaN,No

In [73]:
# Divide the data and Preparing data
df1,df2=df[:1],df[1:]
df2.columns=df2.iloc[0]
df2.drop(df2.index[0],inplace=True)
df2

/tmp/ipykernel_1079/3765082423.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(df2.index[0],inplace=True)

1,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Guest,Recording Consent,In Waiting Room
2,Boshra Jaber,b.jaber@ltuc.com,11/08/2022 08:57:15 AM,11/08/2022 09:41:03 AM,44,No,NaN,No
3,Mostafa Albelbeisi,20020480@student.ltuc.com,11/08/2022 08:57:34 AM,11/08/2022 11:11:34 AM,134,No,NaN,No
4,Mohannad Ghabashneh,22034356@student.ltuc.com,11/08/2022 08:57:35 AM,11/08/2022 11:11:34 AM,134,No,NaN,No
5,Abdallah Mousa,22033848@student.ltuc.com,11/08/2022 08:58:00 AM,11/08/2022 11:11:34 AM,134,No,NaN,No
6,Ashar Momani,NaN,11/08/2022 08:58:14 AM,11/08/2022 11:11:34 AM,134,Yes,Yes,No
...,...,...,...,...,...,...,...,...
61,Tahani Ali,NaN,11/08/2022 10:42:45 AM,11/08/2022 10:44:21 AM,2,Yes,NaN,No
62,Tahani Ali,NaN,11/08/2022 10:46:22 AM,11/08/2022 11:11:34 AM,26,Yes,NaN,No
63,رزان عويضات,NaN,11/08/2022 09:36:33 AM,11/08/2022 09:37:59 AM,2,Yes,NaN,No
64,Tahani Ali,NaN,11/08/2022 10:44:22 AM,11/08/2022 10:45:39 AM,2,Yes,NaN,No
65,Walaa Atiyh,NaN,11/08/2022 11:01:33 AM,11/08/2022 11:11:34 AM,11,Yes,NaN,No

In [74]:
# Get students ID
df2['Students ID']=df2['User Email'].str.extract(pat=('(^\d*)'))
df2

/tmp/ipykernel_1079/3293854551.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Students ID']=df2['User Email'].str.extract(pat=('(^\d*)'))

1,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Guest,Recording Consent,In Waiting Room,Students ID
2,Boshra Jaber,b.jaber@ltuc.com,11/08/2022 08:57:15 AM,11/08/2022 09:41:03 AM,44,No,NaN,No,
3,Mostafa Albelbeisi,20020480@student.ltuc.com,11/08/2022 08:57:34 AM,11/08/2022 11:11:34 AM,134,No,NaN,No,20020480
4,Mohannad Ghabashneh,22034356@student.ltuc.com,11/08/2022 08:57:35 AM,11/08/2022 11:11:34 AM,134,No,NaN,No,22034356
5,Abdallah Mousa,22033848@student.ltuc.com,11/08/2022 08:58:00 AM,11/08/2022 11:11:34 AM,134,No,NaN,No,22033848
6,Ashar Momani,NaN,11/08/2022 08:58:14 AM,11/08/2022 11:11:34 AM,134,Yes,Yes,No,NaN
...,...,...,...,...,...,...,...,...,...
61,Tahani Ali,NaN,11/08/2022 10:42:45 AM,11/08/2022 10:44:21 AM,2,Yes,NaN,No,NaN
62,Tahani Ali,NaN,11/08/2022 10:46:22 AM,11/08/2022 11:11:34 AM,26,Yes,NaN,No,NaN
63,رزان عويضات,NaN,11/08/2022 09:36:33 AM,11/08/2022 09:37:59 AM,2,Yes,NaN,No,NaN
64,Tahani Ali,NaN,11/08/2022 10:44:22 AM,11/08/2022 10:45:39 AM,2,Yes,NaN,No,NaN
65,Walaa Atiyh,NaN,11/08/2022 11:01:33 AM,11/08/2022 11:11:34 AM,11,Yes,NaN,No,NaN

In [75]:
df2["Total"]=df2['Duration (Minutes)'].astype('int')

/tmp/ipykernel_1079/198043095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Total"]=df2['Duration (Minutes)'].astype('int')

In [76]:
meeting_duration=int(df1['Duration (Minutes)'][0])
meeting_duration

135

In [77]:
# Sum total of time for each student
df2=df2.groupby('Students ID',as_index=False).sum(numeric_only=True)
df2= df2[1:]
df2

1  Students ID  Total
1     19012233    132
2     20019322    131
3     20019523    120
4     20020480    134
5     21023784    124
6     22032930    130
7     22033848    134
8     22034140    130
9     22034185    107
10    22034186    128
11    22034189    132
12    22034245    130
13    22034252    130
14    22034270    133
15    22034278    126
16    22034284    127
17    22034289    127
18    22034306    122
19    22034311    121
20    22034319    123
21    22034326    127
22    22034356    134
23    22034359    132
24    22034361    127
25    22034362     61
26    22034365    125
27    22034368    133
28    22034371    122

In [78]:
# Status:
df2['Status']=['Present'if x>=meeting_duration-10 else 'Absent' if x<meeting_duration-20 else 'Late' for x in df2['Total']]
df2['Percentage of attendance']=[f'{round((x/meeting_duration)*100)}%' for x in df2['Total']]
df2

1  Students ID  Total   Status Percentage of attendance
1     19012233    132  Present                      98%
2     20019322    131  Present                      97%
3     20019523    120     Late                      89%
4     20020480    134  Present                      99%
5     21023784    124     Late                      92%
6     22032930    130  Present                      96%
7     22033848    134  Present                      99%
8     22034140    130  Present                      96%
9     22034185    107   Absent                      79%
10    22034186    128  Present                      95%
11    22034189    132  Present                      98%
12    22034245    130  Present                      96%
13    22034252    130  Present                      96%
14    22034270    133  Present                      99%
15    22034278    126  Present                      93%
16    22034284    127  Present                      94%
17    22034289    127  Present                      94%
18    22034306    122     Late                      90%
19    22034311    121     Late                      90%
20    22034319    123     Late                      91%
21    22034326    127  Present                      94%
22    22034356    134  Present                      99%
23    22034359    132  Present                      98%
24    22034361    127  Present                      94%
25    22034362     61   Absent                      45%
26    22034365    125  Present                      93%
27    22034368    133  Present                      99%
28    22034371    122     Late                      90%

In [79]:
meeting_id=df1['Meeting ID'][0]
meeting_id

'94260712307'

In [80]:
df3=pd.read_csv('./data.csv')
df3[meeting_id]=  df2["Status"]
df3["Student ID"] = df2["Student ID"]

df3.to_csv('./data.csv')
df3

EmptyDataError: No columns to parse from file